body{
  padding:50px 0px 0px 0px;
  z-index:0;
}

.navbar-dark {
   background-color:blueviolet;
}

.navItem {
  color: white;
}

.btn-primary {
  background-color: blueviolet !important;
  border-color: blueviolet !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: rgb(113, 18, 201) !important;
  border-color: rgb(113, 18, 201)  !important;
}

